.articlepage {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  display: flex;
}

.articlepage-gobackbtn {
  position: absolute;
  top: 32px;
  left: 16px;
  width: 32px;
  height: 20px;
  background-color: #000000;
  cursor: pointer;
}

.articlepage-left {
  width: 590px;
  height: 100%;
  overflow: hidden;
  margin-left: 100px;
}

.articlepage-left-wrap {
  width: 610px;
  height: 100%;
  overflow-y: scroll;
  padding-top: 24px;
}
