.listpage {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
}

.listpage-left {
  width: 640px;
  height: 100%;
  overflow: hidden;
}

.listpage-left-wrap {
  width: 660px;
  height: 100%;
  overflow-y: scroll;
}

.listpage-left-content {
  width: 660px;
  padding-top: 16px;
}

.listpage-left-li {
  border-bottom: 1px solid #e0e0e0;
  line-height: 1.2;
  cursor: pointer;

  &--time {
    font-size: 14px;
    margin-top: 24px;
  }

  &--title {
    font-size: 24px;
    margin-top: 8px;
    font-weight: bold;
  }

  &--tag {
    font-size: 14px;
    margin: 8px 0px 24px 0px;
  }

  &:hover {
    .listpage-left-li--title {
      text-shadow: 0px 8px 20px rgba(22, 43, 214, 0.4);
    }
  }
}

.listpage-left-end {
  margin: 48px 0px 168px 0px;

  &--text {
    color: #828282;
  }

  &--gotop {
    color: #000000;
    margin-left: 16px;
    cursor: pointer;
  }
}

.listpage-right {
  width: 560px;
  height: 100%;
  overflow: hidden;
}

.listpage-right-title {
  margin-top: 32px;
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  margin-left: 56px;
}

.listpage-right-wrap {
  width: 580px;
  height: 100%;
  overflow-y: scroll;
}

.listpage-right-content {
  width: 460px;
  margin: 16px 0px 56px 56px;
  column-count: 2;
  column-gap: 24px;
}

.listpage-right-li {
  width: 218px;
  break-inside: avoid;
  margin-bottom: 24px;
  cursor: pointer;
  //box-shadow: 0px 8px 20px rgba(22, 43, 214, 0.4);

  &--top {
    border-top: 2px solid #e0e0e0;
    border-left: 2px solid #e0e0e0;
    border-right: 2px solid #e0e0e0;
  }

  &--header {
    height: 64px;
    width: 214px;
    display: flex;
    align-items: center;
    padding: 16px 16px 8px 16px;
    position: relative;
  }

  &--logo {
    width: 40px;
    height: 40px;
    img {
      width: 40px;
      height: 40px;
    }
  }

  &--title {
    margin-left: 8px;
  }

  &--titlet {
    font-size: 16px;
    font-weight: bold;
  }

  &--titled {
    font-size: 12px;
  }

  &--br {
    width: 182px;
    height: 2px;
    background-color: #e0e0e0;
    position: absolute;
    bottom: 0px;
  }

  &--content {
    padding: 12px 16px 8px 16px;
    font-size: 12px;
  }

  &--bottom {
    width: 218px;
    height: 30px;
    position: relative;
  }

  &--more {
    color: #828282;
    border-left: 2px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;
    height: 30px;
    width: 178px;
    padding-left: 16px;
    line-height: 1;
    font-size: 12px;
  }

  &--triangle {
    width: 50px;
    height: 0px;
    border-bottom: 2px solid #e0e0e0;
    transform: rotate(142deg);
    position: absolute;
    bottom: 15px;
    right: -5px;
    //box-shadow: 0px -8px 20px rgba(22, 43, 214, 0.4);
  }
}
